.selectAutoFill_PanelSty{
    -webkit-box-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    -moz-box-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
    width: 100%;
    line-height:45px;
    height: 45px;
}

.selectDefault{
    width: 100%;
    height:25px;
    font-family: '微软雅黑';
    font-size: 9px;
}


/*-----------------------------CheckBox控件样式---------------------*/
.CheckBoxPanelSty{
    min-height: 30px;
    min-width: 100px;;
}

.CheckBoxUnChecked,.CheckBoxChecked{
    margin:4px 0px 5px 15px;
    Width:15px;
    height:15px;
    border-radius:3px;
    border:1px solid #667c8d;
    /*-webkit-box-shadow: 0px 1px 2px #ffffff;
    -moz-box-shadow: 0px 1px 2px #ffffff;
    box-shadow: 0px 1px 2px #ffffff;
    -webkit-box-shadow: 0px 1px 2px #000000 inset;
    -moz-box-shadow: 0px 1px 2px #000000 inset;
    box-shadow: 0px 1px 2px #000000 inset;*/
    opacity: 0.6;
}

.CheckBoxUnChecked{
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(237,237,237)),
        color-stop(1, rgb(215,215,215))
    );
}
.CheckBoxChecked{
    background:#fff url("img/hook-checkbox.png") no-repeat center center;
}

.CheckBoxDiv{
    overflow:hidden;
    min-width: 100px;
    min-height: 30px;
    height:100%;
    width: 100%;
}

.CheckBoxTable,.CheckBoxTable_horizontal{
    overflow:auto;
    border-width:1px 1px 0px 1px;
    border-style:solid;
    border-color:#9f9f9f;
    width:100%;
    cellspacing:0;
    cellpadding:0;
    font-family: '微软雅黑';
    font-size:12px;
}

.CheckBoxTable,.CheckBoxTable_horizontal tr{
    margin: 0;
    padding: 0;
}

.CheckBoxTable{
    border-width:1px 1px 0px 1px;
}
.CheckBoxTable_horizontal{
    border-width:1px 0px 1px 1px;
}
.CheckBoxTD,.CheckBoxTD_horizontal{
    margin: 0;
    padding: 0;
    border-style:solid;
    border-color:#9f9f9f;
    background: #f9f9f9;
    font-family: '微软雅黑';
    font-size:12px;
    cursor: pointer;
    display:-ms-inline-flexbox;
    display:-moz-box;
    display:-webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    overflow: hidden;
    display:box;
}
.CheckBoxTD{
    border-width:0px 0px 1px 0px;
}

.CheckBoxTD_horizontal{
    border-width:0px 1px 0px 0px;
}
.CheckBoxTDChecked{
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, rgb(237,237,237)),
        color-stop(1, rgb(215,215,215))
    );
}
.CheckBoxSpan{
    white-space:nowrap;
    margin:4px 10px 4px 9px;
    padding:0px;
    align:left;
    text-align:center;
    display:block;
}
.CheckBoxHorizontalTR{
    display:-moz-box;
    display:-webkit-box;
    display:box;
}
/*-------------------------绑定属性配置-----------------*/
.prortityBindTable
{
    width: 100%;
    height: auto;
    border-width:1px 0px 0px 0px;
    border-style:solid;
    border-color:#9f9f9f;
    cellspacing:1;
    cellpadding:0;
    color:#333333;
    font-size:12px;
    font-family: '微软雅黑';
    font-weight: bold;
}

.prortityBindLabel{
    height:25px;
    width:142px;
    align:right;
    border-width:0px 1px 1px 0px;
    border-style:solid;
    border-color:#9f9f9f;
    color:#333333;
    font-size:12px;
    font-family: '微软雅黑';
    font-weight: bold;
}

.prortityBindSelect{
    height:25px;
    width:200px;
    align:left;
    border-width:0px 0px 1px 0px;
    border-style:solid;
    border-color:#9f9f9f;
    font-family: '微软雅黑';
    font-size:12px;
    font-weight: bold;
    color:#333333;
}

.prortityBindSelect select{
    height:23px;
}
.prortityBindSelect input{
    height:20px;
    width:140px;
}
/*-------------------------基本属性配置--------------------*/
.BasicChart_Pro_Panel{
    font-family: '微软雅黑';
    font-size:12px;
    font-weight: bold;
    color:#333333;
    width: 100%;
    height:auto;
    border-radius: 10px;
    border:1px solid #667c8d;
    padding: 5px 0px 5px 0px;
    margin:10px 0px 10px 0px;
}

.prortityPanelTable
{
    width: 100%;
    height:auto;
    border-radius:5px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
    border:1px solid #cccccc;
    border-collapse:collapse;
}

.prortityPanelTable td
{
    border:1px solid #cccccc;
    border-collapse:collapse;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.basicprortitystytdCenter{
    text-align: center;
    padding: 1px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelTable td input
{
    margin-left: 0px;
    width:60px;
    margin-bottom: 0px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelTabletd0{
    text-align: right;
    padding: 1px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelTabletd1
{
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
    text-align: left;
    padding: 1px;
}

.prortityPanelTabletd1 select
{
    margin-left: 0px;
    width:80px;
    margin-bottom: 0px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelTabletd1 input[type='text']
{
    width:95%;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelTabletd2
{
    text-align: left;
    padding: 1px;
}

.prortityPanelTabletd2 select
{
    margin-left: 0px;
    width:80px;
    margin-bottom: 0px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

/*-------------------元素管理--------------------*/
.prortityPanelCheckBoxTextDiv
{
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
    width: 165px;
    height:232px;
    overflow:auto;
    border:1px solid #151b24;
    border-radius:10px;
    margin:2px 0px 0px 0px;
}

.prortityPanelCheckBoxTextTable
{
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelCheckBoxTextTD
{
    padding-left:10px;
    border-width:0px 0px 1px 0px;
    border-style:solid;
    border-color:#9f9f9f;
    margin-left: 0px;
    width:165px;
    height: 25px;
    margin-bottom: 0px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}

.prortityPanelCheckBoxManagmentDiv
{
    display:-moz-box;
    display:-webkit-box;
    display:box;
    padding:0px;
    margin:0px;
}

.prortityPanelCheckBoxManagmentDivUnit
{
    width:159px;
    height:25px;
    margin-left:10px;
    color:#333333;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
    display:-moz-box;
    display:-webkit-box;
    display:box;
}

.prortityPanelCheckBoxManagmentDivUnit label
{
    width:67px;
    text-align:center;
    margin-top:2px;
    margin-right:0px;
    padding-right:0px;
    font-size:12px;
    font-weight: bold;
    font-family: '微软雅黑',Arial;
}
.InputButton,.InputButtonAdd
{
    margin-left:24px;
    padding-right:0;
    text-align:center;
    color:#333333;
    width:55px;
    font-size:12px;
    font-weight:bold;
    font-family:'微软雅黑',Arial;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7),to(#b9b9b9));
    align:right;
}

.InputButtonAdd
{
    margin-left:110px;
    border-radius:6px;
}
.prortityPanelCheckBoxManagmentDivUnit .InputText
{
    padding-left:0;
    padding-right:0;
    text-align:left;
    width:97px;
    font-size:12px;
    font-weight:bold;
    font-family:'微软雅黑',Arial;
    border-radius:5px;
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4),to(#ffffff));
}
.prortityPanelCheckBoxManagmentDivUnitHr
{
    margin-top:10px;
    margin-left:15px;
    height:1px;
    width:90%;
    display:block;
    border-bottom:1px solid #FFFFFF;
}
.prortityPanelCheckBoxItemManagmentDiv
{

}

/*---------------------------------属性配置原有样式-----------------------*/
.form-horizontal{
    width: 100%;
    height:auto;
    border-radius: 10px;
    border:1px solid #667c8d;
    padding: 5px 0px 5px 0px;
    margin:10px 0px 10px 0px;
    text-align: center;
    font-family: '微软雅黑',arial;
    font-size: 16px;
    font-weight: bold;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.controls .input{
    text-align: center;
    font-family: '微软雅黑',arial;
    font-size: 10px;
    font-weight: bold;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

.controls input{
    text: C2C2C2;
    text-align: left;
    font-family: '微软雅黑',arial;
    font-size: 10px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
    margin-left: 10px;
    padding-left: 3px;
}

.RadiusTable td{
    border:1px solid #cccccc;
    border-collapse:collapse;
}